html
{
    display: flex;
    justify-content: center;
}

body
{
    width: 970px;
    font-family: Arial;
}

header, main, footer
{
    border: solid 2px;
    background-repeat: no-repeat;
}

main, header
{
    border-bottom: 0;
}

header
{
    background-image: url(img/header.png);
    background-position: center -2px;
}

header h1
{
    font-size: 34pt;
    text-align: center;
    font-weight: normal;
    padding: 350px 100px 50px;
}

.header-bottom, footer
{
    border-top: solid 2px;
    display: flex;
}

.description
{
    width: 450px;
    padding: 60px 100px;
}

.video
{
    padding-top: 70px;
}

.people
{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.people > div
{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.people > div > div
{
    display: none;
    font-weight: normal;
    margin: 0 -20px;
    padding-top: 20px;

}

#max:checked ~ header,
#max:checked ~ main,
#max:checked ~ footer
{
    background-color: #ffe05d;
}

#alex:checked ~ header,
#alex:checked ~ main,
#alex:checked ~ footer
{
    background-color: #ff8283;
}

#georgy:checked ~ header,
#georgy:checked ~ main,
#georgy:checked ~ footer
{
    background-color: #72c4f6;;
}

#max:checked ~ main > .people > .max > div,
#alex:checked ~ main > .people  > .alex > div,
#georgy:checked ~ main > .people  > .georgy > div
{
    display: block;
}

.main-top
{
    background: url(img/main-top.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 853px;
}

.main-center
{
    background: url(img/main-center.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 765px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.main-bottom
{
    background: url(img/main-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 857px;
    margin-top: -40px;
}

.left
{
    width: 300px;
    padding: 80px;
    text-align: center;
}

.right
{
    width: 300px;
    padding-right: 120px;
    text-align: center;
}

.sprite
{
    background-image: url(img/people.png);
    background-repeat: no-repeat;
    display: block;
    margin: 5px;
    width: 155px;
    height: 156px;
}

.sprite:hover
{
    background-image: url(img/people-hover.png);
}

.sprite-alex
{
    background-position: -5px -5px;
}

.sprite-georgy
{
    background-position: -170px -5px;
}

.sprite-max
{
    background-position: -5px -171px;
}

.social
{
    display: flex;
}

.social-button
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGYAAABECAYAAABzu0BfAAAMMklEQVR4Xu1cB4sUTRDtNeccMJ9gDqiYUczi7i/2BCNmURRzjqCYvTPH+3jN1VBbV9VTPcqxH8zAobsz011dr+pVVYdthPrqSA00OlKqWqhQA9OhRlADUwPToRroULFUj+nu7u7r6+sbIHKj0Qj4Hv+mLnqXnsez/J1ms+ny1IMHDxZCyD65HFImTXYpA55ptVouOaAPPl6rfd4Hf0bTG8lsyWECIwWxwPAARW3RsznAWOCiTQ0cPmCpKK6gHGBgICmjtAyD60wDiuTT9KECQ4JIhUpP0KyY3qF7mtBVLFUzAA5Cqj/NqHKAIQaRfVhGyfUkdajpVNOHCYxmbWSldE9a55AhQ8LMmTPD+PHjw/DhwyN9ffnyJTx69Chad8pCNGq0FKJ5s+U93FCkwqp4bopSuX40HUmPpc9uYFIKsRQwcuTIsGnTpjB27Ng2Hb9//z6cP38+gkSK8XqM5rlywJzSNEu1KA/fe4GRMcaKN3yMVrzRDNANDFeIRV8yAK5evTrMmTNnQL8fPnyIwHBAqyiEv3/gwIG2fg4dOtTmkdp9DaCqBsLpaPv27fGjpFV8xtjv378fvn//3pb8eDy3NCuz+JlrBs/s2LEjjB49uvgaQkGgT58+ReGqUBllZZzb+y09GxhJu2jAC0yKQaQRSMv8/ft3uHDhQujt7W3TATfsbI/RvEV6Cilt7969YdiwYVGunz9/hqNHj2peG7/L9RgZZKUyuru72/pqNpttn+V9kjlXDu4p1AaX5cePHwF/I0aMiH90vXnzJly8eLH4LDM8d1bmDbrUEzriwHz9+jWcOHGicF/p5lUUwttIKR6yWFQmLcUrB6+nlDaKr549exZu3LgRx7179+4CHLDGqVOn4nMyhcZnNzCysJOewzuYN29e9JRFixYFZGW4fv36FR4+fBj//+3bt/D8+fM2obwK4UE3BYzpmv034DFaTZFDZdxb+Pi5EQCYmzdvRspC7Bk3blx87e3bt20eg+/4eLKojA/WKi7xzM6dO8OoUaNM3bx69Spcvnw53s/NygiYMiorA4aSA1mH5BiIlo2iXw4MKOvFixdh8uTJYe7cuVEsxBgkPx8/fhyQIJBOsoBJFWxkMRAWwPCgL5VEVsStxKsQi0IklZUBwz2mSnaYylLLZOFepNEYZHdTmTY3pDWKQa5ZsyZy6ZQpUwq6+PPnT0D9ggs0hr8y19WUKxVCQbNMGbIteIykInz2UpnMDrn3e2QBnZ87dy5mqTx5SiUhycqfBmOBwguqffv2FVkZBDl+/HgRV2Sq6lUIT0JSMUYqXksONAbI9VytcpcxhoL/7NmzA2o7ujTmoHtZHmOlxVo9ILMyAkZTBt73AqPVMWVZF9q3sra/jTHcUEkPVvBHX9u2bSsSAMSY06dPD5iZt/SRnF2WAY9ii6QFT7rM3/VaqszKmIW1sRX3GBmQ8ZnqGO7hVppaRqn8vjQC6RV79uwpUmYAc+bMmfi6NHp38PfOpnLv4VRGdYxGhVawSymkLCvjiteAIeBk2u/1XCttl94L5WPGAxcmc3mRifLh3r17A0DJqmM0YFLeggFrMUZWuKRgr8dYyw9a5c+9IRVjuAF45eBpuzS2sikZPC/nCz0x17VQplkzuSTxNq/8EWNQ+cuKv0odo9GpVDz3CCsGabJ4PUam7TxWpbIyVPyo48hTrBLEHfxTUxDcc7jSUsDImORVSNnyAzcYPmjte87t5F1V5JB0KFlB9sPHLgv1lKEmVzAlt1seYGVlFog5FCJlsAaq1QcyyErPzwFG65eDxBlEUpVMOiTbuD1G1g9SwTLe4LP0GKpjNBrMUUhKuZoFWnTxrzxGKlUzHM2rpB74uP5JVkagyM4xkQml4A+VPyYyZUFG73o9JmcF0/JOacn8uVw5pFemygmNbSTFppIh15o/b1DSmfceV1COQjSPS3mFJo/mLfgu13O9HiqNVo5BxiU3lWnKqL8bXA24NrwNrkh1b5FuazV0pgZqYDoTl9pjOhSXGpgamE7VQIfKVceYGpgO1UCHilV7zP8JGGt3Cp+S0KYd5CxqX1/fV+z5E/NYva1Wq8ujj9QClTXTnZr+kO94p4a03f7avBn1bc0RarPOeMc9JaMBw+e6cibzlHmqnlarNckLTKovakNOJso5LS47/38OMHKW27sOY8lIxop2s2aXqwAhZ1RxeAkXNpkzgLKB0SYty9ZptMlW+Y4XGGvDn6UjzeikF/ExuYHh24Y0S+Eda4tF2MOMvbtjxoyJj+JU2cmTJ2mpuafZbLo9JmUg3BoFXbZtaJcUQ59zZpflmCWta5+lbnI813U+JsWnXGASDmszWDjj15EjR+IaTQjBDYxcj9FA0lYH8R1OtkFurLtr1GZxu2bt1sKhpXhpCBrtlVFq6eFYGbAkEJrHgMIkMIcPHy6A8cYYCQx2z3/+/DkuxGnUAFlmzJgRVqxYUWx0BzDYHYmtRDgb+uDBg2IIXiqzti9Znmh5j+Vl2cFfA8Xa9MCFxP+3bNnSRmXYu9vfnttjpELWrVsXj3pcuXIl7qLn3oI+J0yYEDZv3hyGDh06wPCx1+327dtxKxEOF1X1mBSNa1SlgSdjphsYa8+wVAQ+0+lkOmfooD138Ofn6zFAHL7F5nUcm7t+/Xr8lw9y1apVxfEHiQzkwhGJa9euFduqcjwmlUwsXbo0eiKSHCtV1gBNxToXlWlxZNq0aQEC0eEcUMatW7fCu3fv2nSiZE9uj5FJCPpbuHBhbB909vLly4BtqThZgH42btwYpk6dqoUJ9fBQDjDUqEbd2FsGLwQ4kIcbp5U88XYqewyEAoWgMfxh++fatWvVDdKXLl2KSqB3oEA+qEajURkYnMPZunVr29ZTtI2kAoaBLJBvS+UIPX36NJ724hadAwxXpGQFvhsTMfDu3btxo58GohZn3MBwS6VtSQje4HVcSIXleX5SAuiFNk9DkTjYhIvtL3YDI3/TBjEGbSKW5F7YDUmBn5TjBUb7TRvOBNo2WXgxYlpPT8+AWMjjjhXrStNlAAOrp31i+KGFXbt2JfWCE8twbShg//790duqACMLu66urrBs2bJcTOLz8GQcxePeW6WO0WKNtX8Zz+LQFjwI+pC0BlmgoyyPIZfHZnE0CGXjX5y3LAMGNQsFQgKGnYN0e4wEBgCvX7/ejCMWYqC6Y8eORQMr43atDessKD1btrEc/eM4ObxHibn5wKBjojIqENEwP5ErB4LOkRrjAohEZewMSzYwfDCg0MWLF8d6xSocpUyPHz8Od+7ciV9zq/V6jPXrSyRXChik5+ibjj6Sl/AxZXkMNUDAXL16NaabuJD5wHKlYtAZLIMys/nz54fly5cXMab/eTcw2uwyAjxOamm1imbt8FxMB1HtwmX2xhjLY1LAoG5CXAOVabMT3Ejcc2U86NK5FwR1KhLRqEyXcR+WQaBAGD5f9i+ojIwFx7VR3VOqngo6OMqODEl6i8XtWlvSY2Ss4EcxkCDhkBK8VFIn95IySi09H8M3i+M3YZDZ8A4oPUWBSRcGjSC9YMGC4ru/oTIesAkcxJuVK1cGHELVLsgIQ4GCpMWSUrxUZv36EvcY/B81DPQji21Z6ct0201lvPLnwEAB6BgAyYs6A8UsWbKkDRQ8W8VjuOdihgEeAkOAx8yaNSsgQ9Qu0BZmBl6/fm2Chhs5wEhr5/XQhg0bYnFtTZhqNRA3FjeV8bydH+GjUeKs4ZMnTyJFUFoMJSEgI6Wl6X6ulSrpMgcGA5k+fXpA3EKM0wI/lhfA6fASqrm0Io/k8gJjrehK1LXpGC3Yy5Tb7TFlwHCB6LhFWTBmv06RHfwpPhAY6GvixInRY0BpCPAwFgRc/qykDEmJucDI2MKBkDJa8URjmiyPISVgtnbSJNe6lhmDkRicPXuW7mcDwy2MLDClCC0macLlZGUSZI2eeIyVXiE9l8uYBYypZeOnnWThpHFyvzIrzy5zmeTyg5z5TlEIteMFRs5yl9GTBEjTZaUYYy0MQdn001e8M82iNRrp/84NTGr5gVucBpJ1v0whmhLLdg1pRmmBo2WIWR5j8afkWW49lpcJa64EjKQuWsW0qn+LajiIOTFGG6emZMtIrKwO7bqBSdFYfW9wNFDvxBwcPWf3UgOTrbLBeaEGZnD0nN1LDUy2ygbnhf8AR8iY+e4MRf4AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    display: block;
    margin: 3px;
    width: 24px;
    height: 24px;
}

.social-facebook
{
    background-position: -5px -5px;
}

.social-habra
{
    background-position: -39px -5px;
}

.social-instagram
{
    background-position: -5px -39px;
}

.social-twitter
{
    background-position: -39px -39px;
}

.social-vk
{
    background-position: -73px -5px;
}

.social-youtube
{
    background-position: -73px -39px;
}

.help-copyright
{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.help-copyright > nav > a
{
    text-decoration: none;
    color: black;
}

.svg-play
{
    width: 138px;
    height: 80px;
    border: solid 2px;
    border-radius: 4px;
}

.svg-play polygon
{
    fill:#fff;
    stroke:#000;
    stroke-width:2;
}
